* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*rectangle*/
.rectangle1 {
  position: absolute;
  width: 1600px;
  height: 2496px;
  background: #cacaca;
  border-radius: 5px;
}

.image6 {
  position: absolute;
  bottom: 0px;
  width: 1600px;
  height: 1119px;
  background: url(image.png);
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

.image1 {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 218px;
  height: 1430px;
  background: url(image.png);
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

.image2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 244px;
  height: 1430px;
  background: url(image.png);
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

.rectangle1__version {
  position: absolute;
  top: 26px;
  right: 257px;
  width: 221px;
  height: 45px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
}

.rectangle1__version img {
  margin: -45px 110px 37px 669px;
  width: 306px;
  height: 123px;
}

/*rectangle2*/
.rectangle2 {
  position: absolute;
  top: 161px;
  left: 248px;
  width: 1138px;
  height: 2340px;
  background: #ebebeb;
  border-radius: 6px;
}

.rectangle2__main {
  position: absolute;
  width: 921px;
  height: 83px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  color: #000000;
}
